[
    {
        "email": "user1@example.com",
        "search_url": "https://www.youtube.com/results?search_query=python+tutorials&sp=EgIIAw%253D%253D"
    },
    {
        "email": "user2@example.com",
        "search_url": "https://www.youtube.com/results?search_query=ai+news&sp=EgIIAw%253D%253D"
    },
    {
        "email": "user3@example.com",
        "channel_username": "LinusTechTips"
    },
    {
        "email": "user4@example.com",
        "channel_id": "UC8butISFwT-Wl7EV0hUK0BQ"
    },
    {
        "email": "user5@example.com",
        "channel_url": "https://www.youtube.com/@mkbhd"
    },
    {
        "email": "user6@example.com",
        "channel_username": "ThePrimeagen",
        "search_url": "https://www.youtube.com/results?search_query=programming&sp=EgIIAw%253D%253D"
    }
]
